{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block nav %}
{% with current='home' %}
{% include 'nav.html' %}
{% endwith %}
{% endblock %}


{% block content %}
<main>
    <div class='card gapsBetween'>
        <form class="formStyle" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <dl class="form-group">
                {{ render_field(form.email, class='form-control', placeholder='Email') }}
                {{ render_field(form.password, class='form-control', placeholder='Password') }}
            </dl>
            <dl>
                {{ render_field(form.remember_me, class='form-check d-inline checkbox') }}
                {{ render_field(form.submit, class='btn btn-lg btn-primary btn-block') }}
            </dl>
        </form>
        <p class="text-center">New user? <a href="{{ url_for('auth.register') }}">Click to register</a></p>
      </div>
      <!-- Modal -->
      <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Submission Received</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
              <p>Thanks for submitting!</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock %}