{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block nav %}
{% with current='questions' %}
{% include 'nav.html' %}
{% endwith %}
{% endblock %}


{% block content %}
<header class="alignment">
  <div>
    <img class='logoImage' alt='logo' src="{{ url_for('static', filename='images/manyHex.png')}}">
  </div>
  <div>
    <h1 class="title">breakingboundr.io</h1>
  </div>
</header>
<main>
  <div class='card gapsBetween lbbg'>
      <form class="formStyle" action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <dl class="form-group">
              {{ render_field(form.text, class='form-control titlecard', placeholder='Flavour Text') }}
              {{ render_field(form.category, class='form-control titlecard', placeholder='Category') }}
          </dl>
          <dl>
              {{ render_field(form.submit, class='btn btn-lg btn-secondary btn-block') }}
          </dl>
      </form>
    </div>
</main>
{% endblock %}
