{% extends 'base.html' %}

{% block nav %}
{% with current='home' %}
{% include 'nav.html' %}
{% endwith %}
{% endblock %}


{% block content %}
<header class="alignment">
  <div>
    <h1 class="title">breakingboundr.io</h1>
  </div>
  <div>
    <img class='logoImage' alt='logo' src="{{ url_for('static', filename='images/manyHex.png')}}">
  </div>
</header>
<main>
  <div class="card text-center lbbg">
    <div class="card-body">
      <h5 class="card-title largeFont">Break Boundaries, Learn New Things</h5>
      <p class="card-text">
        An educational game where you have to use your knowledge to
        break boundaries and beat your high score!
      </p>
      <p class='medFont'>
        Are you ready to break boundaries?
      </p>
      <a href="game.html" class="btn btn-secondary btn-lg">Play Now</a>
    </div>
  </div>
</main>
{% endblock %}
