{% extends 'base.html' %}

{% block nav %}
{% with current='rules' %}
{% include 'nav.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<header class="title">
  <div>
    <img class='smallLogo' alt='logo' src="{{ url_for('static', filename='images/logoForPage.png')}}">
  </div>
  <h1>RULES</h1>
  <h2 class='white'>
    - How to play - 
  </h2>
</header>
<main>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title titlecard largeFont centered">CONTROLS</h5>
        <div>
          <img class='imagesizing centered' alt='ctrls' src="{{ url_for('static', filename='images/controls.png')}}">
        </div>
        <p class="card-text centered">
          <small class="text-muted">The keys shown above link to the directions you will travel along the board.</small>
        </p>
      </div>
    </div>
    <div class="card lbbg">
      <div class="card-body">
        <h5 class="card-title titlecard largeFont centered">BREAK THE BOUNDARIES</h5>
        <p class="card-text centered">
          <br>Travel around the board.</br>
          <br>Land on hexagons.</br>
          <br>Answer as many questions as you can.</br>
          <br>Score highly by answering correctly.</br>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title titlecard largeFont centered">WHAT WILL I LEARN?</h5>
        <p class="card-text centered">
          Learn trivia facts in a fun and interactive way! Play alone or with friends.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
