{% extends 'base.html' %}

{% block nav %}
{% with current='rules' %}
{% include 'nav.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<header class="title">
  <div>
    <img class='smallLogo' alt='logo' src="{{ url_for('static', filename='images/logoForPage.png')}}">
  </div>
  <h1>RULES</h1>
  <h2 class='white'>
    - How to play - 
  </h2>
</header>
<main>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title titlecard largeFont centered">CONTROLS</h5>
        <div>
          <img class='imagesizing centered' alt='ctrls' src="{{ url_for('static', filename='images/controls.png')}}">
        </div>
        <p class="card-text centered">
          The keys shown above link to the directions you will travel along the board.
        </p>
      </div>
    </div>
    <div class="card lbbg">
      <div class="card-body">
        <h5 class="card-title titlecard largeFont centered">INSTRUCTIONS</h5>
        <p class="card-text centered">
          <ol class='medFont'>
            <li>Land on a hexagon.</li>
            <li>A question will appear - answer it!</li>
            <li>Move to the next hexagon.</li>
            <li>Score highly by answering more questions correctly.</li>
          </ol>
        </p>
      </div>
    </div>
    </div>
  </div>
</main>
{% endblock %}
