.hexagon {
  fill: green;
  pointer-events: all;
}


.hexagon .fill {
  fill: green;
}


.hexagon .obstacle {
    fill: saddlebrown;
}


.hexagon .player {
  fill: blue;
}

.hexagon :hover {
  opacity: 0.5;
}

.question {
  position: absolute;
  margin: auto;
  width: 95%;
  right: 50%;
  bottom: 60%;
  transform: translate(50%, 50%);
}

.error{
  color: red;
  font-weight: bold;
}