<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BreakingBoundr.io</title>
    <link rel="stylesheet" href="game.css">

</head>
<!--<style>-->

<!--.hexagon {-->
  <!--fill: white;-->
  <!--pointer-events: all;-->
<!--}-->

<!--.hexagon :hover {-->
  <!--fill: pink;-->
<!--}-->

<!--.hexagon .fill {-->
  <!--fill: green;-->
<!--}-->

<!--.hexagon .player {-->
  <!--fill: blue;-->
<!--}-->

<!--.hexagon .obstacle {-->
    <!--fill: saddlebrown;-->
<!--}-->

<!--</style>-->
<body>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="{{ url_for('static', filename='hexDrawing.js')}}"></script>

</html>